#content {
    background: #fff;
    margin: 40px auto;
    border-radius: 4px;
    padding: 30px;
    .btn {
        margin-bottom: 20px;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    label {
        text-align: left;
    }
    img {
        max-height: 300px;
        margin-top:20px;
    }
}