<footer>
  <main class="container">
    <div class="row">
      <div class="col-lg-8 d-flex col-mob">
        <a href="http://www.wk-webdesign.fr/"><img src="../../assets/layout/logo_wk.png" height="50" alt="logo wk webdesign william koï"></a>
        <p>My Hero Academia Angular App | Wk-Webdesign © All rights reserved</p>
      </div>
      <div class="col-lg-4">
        <ul>
          <li><a href="http://bokunoheroacademia.wikia.com/" target="_blank"><fa name=link></fa> My Hero Academia wiki</a></li>
          <li><a href="http://heroaca.com/" target="_blank"><fa name=link></fa> My Hero Academia official website</a></li>
        </ul>
      </div>
    </div>
  </main>
</footer>