#messages {
    background: #74b9ff;
    border-radius: 4px;
    padding: 15px;
    top: 70px;
    right: 0;
    left: auto;
    color:#fff;
    p {
        margin-bottom: 0;
    }
    .close {
        right: 11px;
        top: 3px;
        color:#fff;
    }
}