#content {
    background: #fff;
    margin: 40px auto;
    border-radius: 4px;
    padding: 30px;
    .btn {
        &-secondary {
            margin-bottom: 40px;
        }
        &-success, &-info, &-danger {
            margin-top: 20px;
        }
    }
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
}
@media only screen and (max-device-width: 767px) {
    .hero {
        text-align: center !important;
    }
}